/* RESET */
*
{
  margin: 0 0;
  padding: 0 0;
  font-family: 'Montserrat', serif;
}
/* HTML BODY */
html, body
{
  height:100%;
}


body {
  font-weight: 500;

}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.background-section
{
  background: #092756;
  color: black;
  background: linear-gradient(to bottom, rgba(42,60,87,0.4), rgba(57,173,219,.25)), linear-gradient(225deg, #092756, #670d10);

}

.background-section-green
{
  background: #97CE68;
  color: black;
  background: linear-gradient(to bottom, rgba(9, 39, 86,0.4), rgba(44, 201, 144,.25)), linear-gradient(225deg, #97CE68, #2CC990);

}

.background-section-footer{
  background-color: #333333;
  color: white;
  height: 100px;
  padding-top: 30px;
}

  .navbarScroll {


    background: rgba(30, 30, 30, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

.menu
{
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  color:white;
  text-align: right;
}
.menu li
{
  display: inline-block;
  line-height: 4.10em;

}
.menu a
{
  text-decoration: none;
  color:white;
  padding: 0 0.5em;
  font-size: 1.5em;
  display: block;
}
.menu a:hover
{
  background-color: white;
  color:rgba(30, 30, 30, 1);
  -moz-transition: background 300ms ease-in-out;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.mainTitre{
  text-align: center ;
  margin-top: 130px;
  font-size: 50px;
  color: #FFFFFF;
}

.titre{
  text-align: left ;
  margin-top: 130px;
  margin-bottom: 40px;
  font-size: 50px;
  color: #FFFFFF;
}

.right {
  text-align: right;
}





textarea,input{
  color: black !important;
  margin-bottom: 30px;
  border:none !important;
  border-radius: 0px !important;
}

input{
  margin-bottom: 30px;

}

button{
  background-color: #26A65B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.paddingFooter{
  padding-top: 10px;
}

.madeLove{
  text-align: right;
  padding-top: 40px;
}

.text1{
  text-align: justify;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.heart {
  color: #de2c3c;
}

.heartbeat {
  animation-name: heartbeat;
  -webkit-animation-name: heartbeat;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}

@keyframes heartbeat {
  0% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); }
  50% { transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); }
  100% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); }
}
@-webkit-keyframes heartbeat {
  0% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); }
  50% { transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); }
  100% { transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); -o-transform: scale(1); }
}




