#breadBot
{
  stroke:#DC9A5E;
  stroke-dasharray: 2127;
  stroke-dashoffset: 2127;
  stroke-width: 5;
  fill-opacity: 0;
}
#salad
{
  stroke:#81B670;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#ham
{
  stroke:#E18183;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#cheese1
{
  stroke:#FFE085;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#cheese2
{
  stroke:#FFE085;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#tomato1
{
  stroke:#F05921;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#tomato2
{
  stroke:#F05921;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#tomato3
{
  stroke:#F05921;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#breadTop
{
  stroke:#DC9A5E;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}
#lines
{
  stroke:#B4672F;
  stroke-dasharray: 2111;
  stroke-dashoffset: 2111;
  stroke-width: 5;
  fill-opacity: 0;
}

@keyframes draw
{
  0%{
    fill-opacity: 0;
    stroke-width: 0;
  }
  99%{
    fill-opacity: 0;
    stroke-width: 4;
  }
  100%{
    fill-opacity: 1;
    stroke-width: 4;
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw
{
  0%{
    fill-opacity: 0;
    stroke-width: 0;
  }
  99%{
    fill-opacity: 0;
    stroke-width: 4;
  }
  100%{
    fill-opacity: 1;
    stroke-width: 4;
    stroke-dashoffset: 0;
  }
}


@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
  font-weight:bold;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
  font-weight:bold;
}
body{
  font-family : 'Open Sans Light';
  background-color : rgba(217, 30, 24, 0.3) !important;
}
.navbar-sandwich {
  background-color : transparent;
  border-bottom : 2px solid #D91E18;
}
.nav-sandwich {
  margin-top : 2.5px;
  margin-bottom : 2.5px;
}
.nav-sandwich li a {
  padding-bottom : 15px !important;
  margin-bottom : -5px;
  padding-top : 15px;
  margin-top : -5px;
  color : rgba(0, 0, 0, 0.5) !important;
  border : none !important;
  background-color : transparent !important;
}
.nav-sandwich li a:hover {
  color : #000 !important;
  background-color : rgba(217, 30, 24, 0.6) !important;
}
.nav-sandwich li a:focus, .nav-sandwich li a:active {
  color : #000 !important;
  background-color : rgba(217, 30, 24, 0.8) !important;
}
.nav-sandwich li.active a, .nav-sandwich li.active a:hover, .nav-sandwich li.active a:active {
  color : #000 !important;
  background-color : #D91E18 !important;
}
#content {
  padding : 65px 15px 15px 15px;
  color : #000;
}

