/* RESET */
*
{
  margin: 0 0;
  padding: 0 0;
  font-family: 'Montserrat', serif;
}
/* HTML BODY */
html, body
{
  height:100%;

}

body {
  margin: 0;
  font-weight: 500;
  overflow:visible;
  font-family: 'Open Sans', sans-serif;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.background-section
{
  background: #092756;
  color: black;
  background: linear-gradient(to bottom, rgba(42,60,87,0.4), rgba(57,173,219,.25)), linear-gradient(225deg, #092756, #670d10);

}

.background-section-green
{
  background: #97CE68;
  color: black;
  background: linear-gradient(to bottom, rgba(9, 39, 86,0.4), rgba(44, 201, 144,.25)), linear-gradient(225deg, #97CE68, #2CC990);

}

  .navbarScroll {
    position: fixed;
    right: 0;
    left: 0;
    z-index:10;

    background: rgba(30, 30, 30, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

.menu
{
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  color:white;
  text-align: right;
}
.menu li
{
  display: inline-block;
  line-height: 4.10em;

}
.menu a
{
  text-decoration: none;
  color:white;
  padding: 0 0.5em;
  font-size: 1.5em;
  display: block;
}
.menu a:hover
{
  background-color: white;
  color:rgba(30, 30, 30, 1);
  -moz-transition: background 300ms ease-in-out;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.titre{
  text-align: left ;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
  color: #FFFFFF;
}

.content {
  display: table-cell;
  vertical-align: middle;

}




