/* TOP BREADS */
#breadTopCereals
{
    stroke: #93613f;
    stroke-dasharray: 1927px;
    stroke-dashoffset: 1927px;
    stroke-width: 0;
    fill-opacity: 0;

}

#breadTop {
    stroke: #DE9A5E;
    stroke-dasharray: 1927px;
    stroke-dashoffset: 1927px;
    stroke-width: 0;
    fill-opacity: 0;
}

#breadTopPt
{
    stroke: #ffd381;
    stroke-dasharray: 1927px;
    stroke-dashoffset: 1927px;
    stroke-width: 0;
    fill-opacity: 0;
}
/* TOP BREADS SHADOWS */

#breadTopShadowCereals{
    stroke: #af7751;
    stroke-dasharray: 1947px;
    stroke-dashoffset: 1947px;
    stroke-width: 0;
    fill-opacity: 0;

}

#breadTopShadow {
    stroke: #BF8352;
    stroke-dasharray: 1947px;
    stroke-dashoffset: 1947px;
    stroke-width: 0;
    fill-opacity: 0;
}

#breadTopShadowPt {
    stroke: #eeccad;
    stroke-dasharray: 1947px;
    stroke-dashoffset: 1947px;
    stroke-width: 0;
    fill-opacity: 0;

}

#traits {
    stroke: #b76b32;
    stroke-dasharray: 278px;
    stroke-dashoffset: 278px;
    stroke-width: 0;
    fill-opacity: 0;
    z-index: 25;
}

#traitsPt {
    stroke: #eeccad;
    stroke-dasharray: 278px;
    stroke-dashoffset: 278px;
    stroke-width: 0;
    fill-opacity: 0;
    z-index: 25;
}

#flavor
{
    stroke: #e2b698;
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    stroke-width: 0;
    fill-opacity: 0;
    z-index: 25;

}
#cerealsTop{
     stroke: #d8b775;
     stroke-dasharray: 50px;
     stroke-dashoffset: 50px;
     stroke-width: 0;
     fill-opacity: 0;
     z-index: 25;
 }

/*BOT BREADS */
#breadBot {
    stroke: #DE9A5E;
    stroke-dasharray: 1781px;
    stroke-dashoffset: 1781px;
    stroke-width: 0;
    fill-opacity: 0;

}

#breadBotCereals {
    stroke: #93613f;
    stroke-dasharray: 1781px;
    stroke-dashoffset: 1781px;
    stroke-width: 0;
    fill-opacity: 0;

}

#breadBotPt {
    stroke: #ffd381;
    stroke-dasharray: 1781px;
    stroke-dashoffset: 1781px;
    stroke-width: 0;
    fill-opacity: 0;

}

/*BOT BREADS SHADOWS*/
#breadBotShadow {
    stroke: #BF8352;
    stroke-dasharray: 1748px;
    stroke-dashoffset: 1748px;
    stroke-width: 0;
    fill-opacity: 0;

}

#breadBotShadowCereals {
    stroke: #af7751;
    stroke-dasharray: 1748px;
    stroke-dashoffset: 1748px;
    stroke-width: 0;
    fill-opacity: 0;

}

#breadBotShadowPt {
    stroke: #ffd381;
    stroke-dasharray: 1748px;
    stroke-dashoffset: 1748px;
    stroke-width: 0;
    fill-opacity: 0;

}

/* ALL DIFFERENT INGREDIENTS*/
/* SALADS */
#salad {
    stroke: #7FB76E;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;
}

#saladShadow {
    stroke: #8ECC79;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;

}

#saladCh {
    stroke: #4c2a22;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;
}

#saladTop {
    stroke: #7FB76E;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;
}

#saladTopShadow {
    stroke: #8ECC79;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;

}

#saladTopCh {
    stroke: #4c2a22;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;
}

#saladTopShadowCh {
    stroke: #816d31;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;

}

#saladShadowCh {
    stroke: #816d31;
    stroke-dasharray: 2052px;
    stroke-dashoffset: 2052px;
    stroke-width: 0;
    fill-opacity: 0;

}
/* HAMS */
#ham1, #ham2, #ham3 {
    stroke: #F5B1A3;
    stroke-dasharray: 935px;
    stroke-dashoffset: 935px;
    stroke-width: 0;
    fill-opacity: 0;
}
/* SALAMIS */
#salami1, #salami2, #salami3 {
    stroke: #933D2F;
    stroke-dasharray: 742px;
    stroke-dashoffset: 742px;
    stroke-width: 0;
    fill-opacity: 0;
}
/* MORTAS */
#morta1, #morta2, #morta3 {
    stroke: #f5b1a3;
    stroke-dasharray: 742px;
    stroke-dashoffset: 742px;
    stroke-width: 0;
    fill-opacity: 0;
}
/* CHEESES */
#cheese1, #cheese2 {
    stroke: #FFE283;
    stroke-dasharray: 989px;
    stroke-dashoffset: 989px;
    stroke-width: 0;
    fill-opacity: 0;

}
/* CHEDDARS */
#cheddar1, #cheddar2 {
    stroke: #fabf12;
    stroke-dasharray: 989px;
    stroke-dashoffset: 989px;
    stroke-width: 0;
    fill-opacity: 0;

}
/* MOZZAS */
#mozza1, #mozza2 {
    stroke: #F9F7E4;
    stroke-dasharray: 797px;
    stroke-dashoffset: 797px;
    stroke-width: 0;
    fill-opacity: 0;
}
/* BRIES */
#brie1, #brie2, #brie3 {
    stroke: #F9DCB2;
    stroke-dasharray: 783px;
    stroke-dashoffset: 783px;
    stroke-width: 0;
    fill-opacity: 0;
}
/* RACLETTES */
#raclette1, #raclette2, #raclette3 {
    stroke: #F2E49E;
    stroke-dasharray: 715px;
    stroke-dashoffset: 715px;
    stroke-width: 0;
    fill-opacity: 0;
}
/* TOAMTOES */
#tomato1, #tomato2, #tomato3 {
    stroke: #D04727;
    stroke-dasharray: 702px;
    stroke-dashoffset: 702px;
    stroke-width: 0;
    fill-opacity: 0;
}
/*PICKLES*/
#pickle1, #pickle2, #pickle3 {
    stroke: #54893E;
    stroke-dasharray: 519px;
    stroke-dashoffset: 519px;
    stroke-width: 0;
    fill-opacity: 0;
}
/*BACONS*/
#bacon1, #bacon2 {
    stroke: #c54328;
    stroke-dasharray: 1043px;
    stroke-dashoffset: 1043px;
    stroke-width: 0;
    fill-opacity: 0;
}
/*SAUMONS*/
#saumon1, #saumon2, #saumon3{
    stroke: #fe8855;
    stroke-dasharray: 857px;
    stroke-dashoffset: 857px;
    stroke-width: 0;
    fill-opacity: 0;
}
/*OGNONS*/
#ognon1, #ognon2, #ognon3{
    stroke: #c779aa;
    stroke-dasharray: 560px;
    stroke-dashoffset: 560px;
    stroke-width: 0;
    fill-opacity: 0;
}
/*EGGS*/
#egg1, #egg2, #egg3{
    stroke: #f9f8f7;
    stroke-dasharray: 552px;
    stroke-dashoffset: 552px;
    stroke-width: 0;
    fill-opacity: 0;
}




@keyframes draw {
    0% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    99% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@-webkit-keyframes draw {
    0% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    99% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@-moz-keyframes draw {
    0% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    99% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@-o-keyframes draw {
    0% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    99% {
        fill-opacity: 0;
        stroke-width: 4;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        fill-opacity: 1;
    }
}